.voice_memo_rec {
  display: flex;
  align-items: center;
  width: 80dvw;
  gap: 5px;
  direction: ltr;
  // audio timeline
  .time_line {
    height: 4px;
    flex-grow: 1;
    background-color: #80808063; //
    border-radius: 4px;
    // time line progress
    span {
      height: 4px;
      width: 0;
      display: block;
      background-color: dodgerblue; //
      border-radius: 5px;
    }
  }
}
