@import '../../styles/variables';

.chat {
  padding: 60px $main-padding;
  height: calc(100dvh - 50px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  // spinner
  .spinner {
    color: dodgerblue;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
  }
  // scroll bar styles
  &::-webkit-scrollbar {
    width: 3px;
    position: absolute;
    left: 90px;
  }
  // scrollbar itself
  &::-webkit-scrollbar-thumb {
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
  }
  // imgContainer
  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    flex-direction: column;
    img {
      width: 15rem;
      height: 15rem;
    }
  }
}
