@import '../../styles/variables';

.profile {
  height: calc(100dvh - 50px);
  padding: 1rem calc($main-padding + 1rem);
  input:disabled,
  input {
    text-align: left;
    cursor: pointer;
  }
  .loading_spinner {
    animation: animateSpinner 1s linear infinite;
  }

  // animation
  @keyframes animateSpinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
