

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  /* font-family: 'effra' !important; */
  font-weight: normal;
}

a {
  box-sizing: border-box;
}

html[lang="ar"] {
  direction: rtl;
}