@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;800&family=Rubik:ital,wght@0,300;0,500;1,700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: 400;
}

html[lang="ar"] {
  direction: rtl;
}