.chat_usr_actions {
  // usr status
  .actions {
    display: none;
    color: green;
  }
  .online {
    text-wrap: wrap;
    color: gray;
  }
  &[is-chat-opened='false'] {
    .online {
      display: none;
    }
  }
  &[is-usr-doing-action='true'] {
    // display actions
    .actions {
      display: block;
    }
    // hide online status
    .online {
      display: none;
    }
  }
}
