@import "./stylesmodile";

.home {
    /* padding: 10px; */
    font-family: 'effra' !important;
    height: calc(100dvh - 50px);
    position: relative;
    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5rem;
        flex-direction: column;
        img {
            width: 15rem;
            height: 15rem;
            margin-bottom: 10px;
        }
    }
}