@import './stylesmodile';
@import '../../styles/variables';

.chats {
  height: calc(100dvh - 50px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-bottom: 220px;
  // position: relative;
  padding-right: $main-padding;
  padding-left: $main-padding;
  padding-bottom: 60px;
  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    flex-direction: column;
    img {
      width: 15rem;
      height: 15rem;
      margin-bottom: 10px;
    }
  }
}
