@import "./stylesmodile";

.chats {
    /* padding: 10px; */
    height: calc(100dvh - 50px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    // position: relative;
    padding: 20px;
    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5rem;
        flex-direction: column;
        img {
            width: 15rem;
            height: 15rem;
            margin-bottom: 10px;
        }
    }
}