.imageMsgViewer {
  position: relative;
  &,
  & img {
    border-radius: 1.15rem;
  }
  &[pref-lang='ar'] {
    svg {
      transform: scaleX(-1);
    }
  }
  // viewer header
  .viewerHeader {
    display: none;
  }
  &[is-open='true'] {
    &,
    & img {
      border-radius: 0;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    // viewer header
    .viewerHeader {
      display: flex;
      position: absolute;
      height: 40px;
      padding: 10px;
      top: 0;
      left: 0;
      width: 100%;
    }
    // viwer body
    .viewerBody {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
    img {
      width: 100%;
      max-height: 100dvh !important;
    }
  }
}
