@import './_styles.ar.module';
@import '../../styles/variables';

.appHeader {
  height: 50px;
  padding-left: $main-padding;
  padding-right: $main-padding;

  background-color: transparent;
  // hide the header in login page
  &[is-usr-loggedin='true'] {
    display: none;
  }
}
