@import './_styles.ar.module';

.appHeader {
  height: 50px;
  padding: 0.7rem;
  background-color: transparent;
  // hide the header in login page
  &[is-usr-loggedin='true'] {
    display: none;
  }
}
