.bubble {
  &[pref-lang='ar'] {
    &[sended-by-me='false'] {
      margin-right: auto;
    }
    .forward_icon {
      transform: scaleX(-1);
    }
  }
}
.messageContainer {
  &[pref-lang='ar'] {
    flex-direction: row-reverse;
  }
}
