@import './styles.ar.module';

.messageContainer {
  display: flex;
  margin: 0.5rem 0;
  gap: 10px;
}

.bubble {
  border-radius: 15px;
  max-width: 80%;
  width: fit-content;
  min-width: fit-content;
  padding: 5px;
  word-wrap: break-word;
  color: #000;
  // if the message is sended by the current user
  &[sended-by-me='true'] {
    border-bottom-right-radius: 5px;
    margin-left: auto;
    background-color: rgba(199, 199, 199, 0.2);
  }
  // if the message is not sended by the current user
  &[sended-by-me='false'] {
    border-bottom-left-radius: 5px;
    background-color: rgba(92, 173, 255, 0.2);
  }
}
