@import './styles.ar.module';

.bubble {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 80%;
  padding: 8px;
  word-wrap: break-word;
  margin: 0.5rem 0;
  width: fit-content;
  min-height: 2rem;
  min-width: fit-content;
  &::before,
  &::after {
    bottom: -0.1rem;
    content: '';
    height: 1rem;
    position: absolute;
  }
  // if the message is sended by the current user
  &[sended-by-me='true'] {
    border-bottom-right-radius: 0;
    margin-left: auto;
    background-color: #e5e5ea;
    color: #000;
  }
  // if the message is not sended by the current user
  &[sended-by-me='false'] {
    border-bottom-left-radius: 0;
    background-color: rgba(30, 143, 255, 0.2);
    color: #000;
  }
}
