#signup {
  #app_logo {
    img {
      height: 30px;
      width: 30px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    // or_seperator
    #or_seperator {
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: gray;
        top: 50%;
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
    // choose profile photo
    input[type='file'] {
      color: transparent;
      &::-webkit-file-upload-button {
        visibility: hidden;
      }
      &::before {
        content: attr(input-placeholder);
        display: inline-block;
        background-color: dodgerblue;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        padding: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::after {
        content: attr(selected-file-name);
        display: inline-block;
        color: gray;
        position: absolute;
        right: 20px;
        bottom: 50%;
        transform: translateY(50%);
      }
    }
    // input icons
    svg {
      color: gray;
    }
    input {
      padding: 0 30px;
    }
  }
  // arabic lang styles
  &[pref-lang='ar'] {
    .inputIcon {
      left: initial;
      right: 0;
    }
    input[type='file']::after {
      right: initial;
      left: 20px !important;
    }
  }
}
