name: Node.js CD
on:
  push:
    branches: [master]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          # run: cd ~/apps/samchat/SamChatClient
          # run: git pull origin master
          # run: npm install --only=prod
          # run: npm run build --if-present
          # run: pm2 restart samchat
          run: cd ~/apps/samchat/SamChatClient && git pull origin master && npm install --only=prod && npm run build --if-present && pm2 stop samchat
